{% extends "base.html" %}
{% block content %}
{% for message in get_flashed_messages()%}
<div class="alert alert-warning alert-dismissible fade show" role="success">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>   

{% endfor %}
<div class = "jumbotron">
    <h1></h1>
    <p></p>
    <form class="mb-3" method="POST">
        <div class="col-auto">
        {{form.hidden_tag()}}
        {{form.emp_id.label(class="form-label")}} {{form.emp_id(class="form-control")}}
        <br/>
        {{form.week_of_date.label(class="form-label" )}} {{form.week_of_date(class="form-control", placeholder="YYYY-MM-DD")}}
        <br/>
        {{form.sales_year.label(class="form-label")}} {{form.sales_year(class="form-control" ,placeholder="YYYY")}}
        <br/>
        {{form.week_num.label(class="form-label")}} {{form.week_num(class="form-control")}}
        <br/>
        {{form.esp_code.label(class="form-label")}} {{form.esp_code(class="form-control")}}
        <br/>
        {{form.unit_sold.label(class="form-label")}} {{form.unit_sold(class="form-control")}}
        <br/>
        {{form.submit(class="btn btn-primary")}}
    </div>
    </form>
</div>
{% endblock %}